<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello User {{user.first_name}} !!!</h1>

    <h1>All TV Shows</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Network</th>
            <th>Realease Date</th>
            <th>Actions</th>
        </tr>
        {%for show in shows%}
            <tr>
                <td>{{ show.title }} </td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td><a href="/show/show/{{show.id}}">Show</a></td>
                <td><a href="/show/edit/{{show.id}}">Edit</a></td>
                <td><a href="/show/delete/{{show.id}}">Delete</a></td>
            </tr>    
        
        
        {%endfor%}
    </table>


    <a href="/show/new">Add New Show</a>



    <a href="/logout">Logout</a>
</body>
</html>