<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Add A New User</h4>

    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}

    <form action="/add_user" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name"><br>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name"><br>

        <label for="email">Email:</label>
        <input type="text" name="email"><br>

        <label for="faction_id">Faction:</label>
        <select name ='faction_id'>
            {% for faction in all_factions %}
            <option value="{{ faction.id }}">{{ faction.name }}</option>

            {%endfor%}
        </select>
        


        <input type="submit" value="Create">
    </form>

    <a href="/">Home</a>
</body>
</html>